@charset utf-8

@import url(http://notosanskr-hestia.s3-website-ap-northeast-1.amazonaws.com/stylesheets/NotoSansKR-Hestia.css);

*{font-family: 'Noto Sans Korean',sans-serif;}

@-webkit-keyframes bounceIn{
	 0% {
	   opacity: 0;
	   -webkit-transform: scale3d(.3, .3, .3);
	   transform: scale3d(.3, .3, .3);
	 }

	10% {
		-webkit-transform: scale3d(.6, .6, .6);
	    transform: scale3d(.6, .6, .6);
	}

	20% {
	    -webkit-transform: scale3d(.8,.8, .8);
	    transform: scale3d(.8,.8,.8);
	}

	30% {
	    -webkit-transform: scale3d(1.1,1.1,1.1);
	    transform: scale3d(1.1,1.1,1.1);
	}

	40% {
	    -webkit-transform: scale3d(.9, .9, .9);
	    transform: scale3d(.9, .9, .9);
	}

	60% {
	    opacity: 1;
	    -webkit-transform: scale3d(1.03, 1.03, 1.03);
	    transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
	    -webkit-transform: scale3d(.999, .999, .999);
	    transform: scale3d(.999, .999, .999);
	}

	100% {
	    opacity: 1;
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
	}
}

@keyframes bounceIn{
	 0% {
	   opacity: 0;
	   -webkit-transform: scale3d(.3, .3, .3);
	   transform: scale3d(.3, .3, .3);
	 }

	10% {
		-webkit-transform: scale3d(.6, .6, .6);
	    transform: scale3d(.6, .6, .6);
	}

	20% {
	    -webkit-transform: scale3d(.8,.8, .8);
	    transform: scale3d(.8,.8,.8);
	}

	30% {
	    -webkit-transform: scale3d(1.1,1.1,1.1);
	    transform: scale3d(1.1,1.1,1.1);
	}

	40% {
	    -webkit-transform: scale3d(.9, .9, .9);
	    transform: scale3d(.9, .9, .9);
	}

	60% {
	    opacity: 1;
	    -webkit-transform: scale3d(1.03, 1.03, 1.03);
	    transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
	    -webkit-transform: scale3d(.999, .999, .999);
	    transform: scale3d(.999, .999, .999);
	}

	100% {
	    opacity: 1;
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
	}
}
.bounceIn{
	-webkit-animation: bounceIn 1s;
	animation: bounceIn 1s;
}



*    { margin: 0; padding: 0; }
body { margin: 0; padding: 0; }
div  { margin: 0; padding: 0; }
ul   { margin: 0; padding: 0; }
li   { margin: 0; padding: 0; list-style-type: none; }
a    { text-decoration: none; }
img  { border: 0; }

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.nocursor {
	cursor: default;
}

.nodrag {
	-webkit-user-select: none;
}

.pcursor {
	cursor: pointer;
}

#sidemenu{
	position: fixed;
	float: left;
	margin-top: 100px;
}

#sidemenu #sideback {
	width: 30px;
}

#sidemenu #sideback li {
	margin-top: 3px;
	height: 50px;
	width: 100%;
	background-color: #102030;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;

	padding: 4px 15px 12px 0px;
	box-sizing: border-box;
	font-size: 27px;
	color: rgba(0,0,0,0);
    text-align: right;

    border-radius: 0px 5px 5px 0px;
}

#sidemenu #sideback li:hover {
	width: 200px;
	color: #fff;
}

#sidemenu #sideback .sidetext{
	visibility: hidden;
}


header{
	border-bottom: none;
	width: 900px;
	height: 210px;
	margin: 0px auto;
}

nav{
	width: 900px;
	height: 30px;
	margin: 0px auto;
	border-top: none;
	border-bottom: none;
}


nav ul a:first-of-type li{
	border-radius: 5px 0px 0px 5px;
}

nav ul a:last-of-type li{
	border-radius: 0px 5px 5px 0px;
}

nav ul li{
	float: left;
	width: 180px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	color: #fff;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	background: #102030;
}

nav ul li:hover{
	background: #eee;
	color: #102030;
}


#contents{
	/*border: 1px solid #102030;*/
	width: 900px;
	margin: 0px auto;
}


#contents section{
	padding: 0px 20px 20px 20px;
}


#contents > hr {
	border:none;
	height: 1px;
	background:#102030;
}



footer {
	margin: 5px auto;border-radius: 5px; width: 900px;
	padding: 0px 0px;
	color: #eee;
	background-color: #102030;
	text-align: center;
	font-size: 12px;
}


#loginlayout{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(128,128,128,0.5);
	visibility: hidden;
}

#loginlayout #loginwindow{
	visibility: hidden;
	margin: 0 auto;
	width: 600px;
	height: 310px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #102030;
}

#loginlayout #loginwindow #loginimage{
	margin-bottom: 20px;
}


#loginlayout #loginwindow div{
	text-align: center;
}

#loginlayout #loginwindow #exit{
	text-align: right;
	padding-right: 5px;
}

#loginlayout #loginwindow #exit  div{
	display: inline-block;
	width:10px;
}

input[type="text"],input[type="password"]{
	border: none;
}

input[type="submit"]{
	background: #fff;
	border: 1px solid #102030;
}

input[type="submit"]:active{
	background: #eee;
}

#topmenu{
	width: 100%;
	height: 20px;
	background-color: #fff;
}

#login{
	text-align: right;
}

#login div{
	width: 100px;
	height: 15px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	border: 1px solid #fff;
	background-color: #fff;
	color: #102030;
	padding-bottom: 5px;
}

#login div:active{
	border: 1px solid #102030;
}



::-webkit-scrollbar {
	float:right;
	width: 3px;
	height: 3px;
	border: 3px solid #fff;
}

/*::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{
	height: 5px;
}*/

::-webkit-scrollbar-track {
	background: #eee;
}
::-webkit-scrollbar-thumb {
	background: #102030;
}

/*ie*/
html {
	scrollbar-3dLight-Color: #102030;
	scrollbar-arrow-color: #fff;
	scrollbar-base-color: #fff;
	scrollbar-Face-Color: #102030;
    scrollbar-Track-Color: #fff;
    scrollbar-DarkShadow-Color: #102030; 
    scrollbar-Highlight-Color: #102030; 
	scrollbar-Shadow-Color: #102030;
}